
//----------- header style -----------
$headerBgColor: skyblue;
$headerLogoColor: #ff4000;
$headerIconColor: #1d3d4e;
$headerIconHoverColor: skyblue;
// ------------------------------------
// ------------navbar style-----------
$navbarBgColor: skyblue;
$activeLinkBorderColor: white;
$activeLinkColor: white;
$navbarLinkColor: black;
$navbarLinkHoverColor: white;
$loginMarkColor: rgb(116, 212, 20);
$loginMarkBgColor: white;
// -----------------------------------
// ------------footer style------------
$footerBgColor: skyblue;
// ------------------------------------