// --------------card style-----------
$cardMarkNew:  rgb(116, 212, 20);
$addToCartBorder: skyblue;
$addToCartColoHover: white;
$addToCartBgColorHover: skyblue;
// -----------------------------------
// ------------detail page style-----
$detailPageIconColor: skyblue;
$detailPageButtonBorder: skyblue;
$detailPageBtnHoverBgColor: skyblue;
$detailPageBtnHoverColor: white;
// ---------------review style---------
$reviewPlaceholderColor: rgb(176, 172, 172);
$reviewInvalidColor: #f8d8dc;
// ----------------------------------
// ------------message style---------
$btnBorder: skyblue;
$WarningColor: #feebee;
// ---------------------------------
// -----------basket style---------
$basketMarkColor: rgb(116, 212, 20);
$basketMarkBorderColor: white;
$basketIconHover: white;
$basketCardBorderColor: skyblue;
// --------------------------------