// ----------stepper style---------
$stepBtnBgColor: skyblue;
$stepTextColor: white;
$stepHoverBgColor: white;
$stepHoverTextColor: skyblue;
// --------------------------------
// ----validate input style--------
$inputValid:  #4fd355;
$inputInvalid: #ff4000;
$errorMessage: #ff4000;
$placeholderColor: rgb(176, 172, 172);
// -------------------------------- 
$successMessageColor:#e3fedf;