@import '/src/styles/mainVariables';

.card {
    position: relative;
    justify-content: center;
}

.card-img {
    padding: 10px;

    img {
        height: 250px;
        width: 100%;
        object-fit: contain;
    }
}

.price {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

.real-price {
    text-decoration: line-through;
}

.oval-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    font-weight: 800;
    border-radius: 50px;
}

.discount {
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: yellowgreen;
}

.card-new {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: $cardMarkNew;
}


.stars {
    display: flex;
    justify-content: center;
    padding: 10px 0 30px 0;
}

.star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 30px;
    width: 30px;
}