<div class="wrapper">
  <div class="status" [ngClass]="{uploadSuccess: uploadService.percentage === 100}">{{uploadService.percentage}} &#x25;
  </div>
  <div class="imgUp">
    <div class="imagePreview ">
      <img [src]="imageSrc" *ngIf="!errorFile">
      <p class="p-3 error-message" *ngIf="errorFile">
        File is not an image or the size is larger than 1Mb
      </p>
    </div>
    <div class="label-field">
      <label class="select-button">
        Select an image
        <input type="file" class="uploadFile img" value="Upload Photo" (change)="selectFile($event)">
      </label>
    </div>
  </div>
</div>