<footer class="text-center text-white">
  <div class="container pt-4">
    <section class="mb-4">
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-facebook"></i></a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-twitter"></i></a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-google"></i></a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-instagram"></i></a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-linkedin"></i></a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-github"></i></a>
    </section>
  </div>
  <div class="text-center text-dark p-3">
    © 2023 Copyright:
    <a class="text-dark" href="https://angular.io/" target="_blank">Angular</a>
  </div>
</footer>