@import '/src/styles/mixins';
@import '/src/styles/orderVariables';

button {
    @include btnStyle;
}

.wrapper {
    max-width: 450px;
    margin: 20px auto;
    position: relative;
}

::placeholder {
    color: $placeholderColor;
}

.error-message {
    color: $errorMessage;
}

.validInput {
    border: 1px solid $inputValid;
}

.invalidInput {
    border: 1px solid $inputInvalid;
}